<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>beer-modify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="newBeer.name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Volume</ion-label>
      <ion-input [(ngModel)]="newBeer.volume"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea rows="5" [(ngModel)]="newBeer.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Brewery</ion-label>
    <ion-select placeholder="Select brewery" [(ngModel)]="newBeer.fkBrewery">
      <ion-select-option *ngFor="let brewery of breweries" [value]="brewery">
        {{ brewery.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <div>
    <ion-button color="success" (click)="modify()">Modify</ion-button>
    <ion-button color="danger" [routerLink]="['/beers']">Cancel</ion-button>
  </div>
</ion-content>
